@use "@styles/styles" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grayscale-3;

  .container {
    width: 100%;
    max-width: $xlg;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 3rem auto auto;

    @media (min-width: $lg) {
      margin-top: 2rem;
    }

    p {
      @include defaultText;
      color: $grayscale-0;
      position: relative;
      margin-top: 2rem;
      width: 100%;


      @media (min-width: $lg) {
        font-size: 1.2rem;
      }

      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $grayscale-4;
        bottom: -2px;
        left: 0;
      }
    }

    h3 {
      @include bitText;
      margin-top: 2rem;
      font-weight: 600;
    }

    .cards {
      display: flex;
      width: 100%;
      overflow-x: auto;
      flex-wrap: nowrap;
      padding: 2rem 1rem;
      margin-left: -1rem;
      margin-right: -1rem;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      gap: 1rem;
      position: relative;

      &::-webkit-scrollbar {
        display: none;
      }

      > * {
        flex: 0 0 auto;
      }

      .card {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 330px;
        height: 300px;

        .icon {
          font-size: 64px;
          background-color: $grayscale-1;
          color: #F4FF77;
          width: fit-content;
          padding: 1rem;
          border-radius: 50%;
        }

        .title {
          width: fit-content;
          text-align: left;
          font-size: 1.2rem;
          font-weight: 600;
          margin: 1rem 0 0;
          padding: 0.5rem 1rem;
          border: 1px solid $grayscale-1;
          border-radius: 1rem;
        }

        .description {
          width: 100%;
          text-align: left;
          @include defaultText;
          font-weight: 400;
          margin: 1rem 0 0;
        }
      }
    }
  }
}