@use "@styles/styles" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  background-color: $grayscale-3;
  position: relative;

  .container {
    width: 100%;
    max-width: $xlg;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1rem;
    box-sizing: border-box;
    margin: auto;

    &__inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
      margin-top: 3rem;

      .mockup {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: none
      }

      .form {
        padding: 1rem;
        background-color: $grayscale-3;
        border-radius: 10px;
        width: 100%;
        border: 2px solid $grayscale-0;

        label {
          color: $grayscale-0;
          @include defaultText;
          font-weight: 500;
        }

        input {
          background-color: $yellow-1;
          padding: 0.5rem;
          border-radius: 5px;
          width: 100%;

          &:focus {
            outline: none;
          }
        }

        button {
          margin-top: 1rem;
          width: 100%;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $grayscale-3;
    background-color: $grayscale-0;
    padding: 0.5rem;
    @include smallText;

    a {
      color: $yellow-1;
      margin-left: 0.25rem;
    }
  }
}